{extend name="common/layout"/}
{block name="head"} {include file="system/head" /}{/block}
{block name="main"}
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$webTitle}</h5>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;"></th>
                            <th>名称</th>
                            <th class="hidden-xs">地址</th>
                            <th class="hidden-xs" style="width: 15%;">频率</th>
                            <th class="text-center" style="width: 100px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-center" scope="row">1</th>
                            <td>网易云音乐</td>
                            <td class="hidden-xs">{:get_Domain()}cron/netease?cronkey={:config('sys.cronkey')}</td>
                            <td class="hidden-xs">
                                <span class="label label-warning">1分钟</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default copy" data-clipboard-text="{:get_Domain()}cron/netease?cronkey={:config('sys.cronkey')}">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">2</th>
                            <td>哔哩哔哩</td>
                            <td class="hidden-xs">{:get_Domain()}cron/bilibili?cronkey={:config('sys.cronkey')}</td>
                            <td class="hidden-xs">
                                <span class="label label-warning">1分钟</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default copy" data-clipboard-text="{:get_Domain()}cron/bilibili?cronkey={:config('sys.cronkey')}">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">3</th>
                            <td>Epic周免通知</td>
                            <td class="hidden-xs">{:get_Domain()}cron/epic?cronkey={:config('sys.cronkey')}</td>
                            <td class="hidden-xs">
                                <span class="label label-warning">1分钟</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default copy" data-clipboard-text="{:get_Domain()}cron/epic?cronkey={:config('sys.cronkey')}">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>统一任务调度</h5>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;"></th>
                            <th>名称</th>
                            <th class="hidden-xs">地址</th>
                            <th class="hidden-xs" style="width: 15%;">频率</th>
                            <th class="text-center" style="width: 100px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-center" scope="row">1</th>
                            <td>统一调度</td>
                            <td class="hidden-xs">{:get_Domain()}cron/task?cronkey={:config('sys.cronkey')}</td>
                            <td class="hidden-xs">
                                <span class="label label-warning">1分钟</span>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default copy" data-clipboard-text="{:get_Domain()}cron/task?cronkey={:config('sys.cronkey')}">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
