{extend name="common/layout"/}
{block name="head"} {include file="system/head" /}{/block}
{block name="main"}
<div class="content">
    <div class="my-0 text-center">
        <h2 class="fw-bold mb-4">
            模板随心搭
        </h2>
        <h3 class="fs-base fw-medium text-muted mb-0">
            你 目 前 有 <b style="color: rgba(39,54,215,0.6);font-weight: bold">{$num}</b> 个 模 板 ！
        </h3>
    </div>
    <form onsubmit="return false;" id="template-form">
        <div class="row">
            <h2 class="content-heading">首页模板</h2>
            {foreach $index_data as $key => $v}
            <div class="col-md-6 col-xl-4">
                <div class="block block-rounded{if condition='$current_index_template eq $v.id'} border border-primary{/if}">
                    <div class="block-content p-0 overflow-hidden">
                        <img class="img-fluid rounded-top" src="{$v.img}" alt="{$v.name}" loading="lazy">
                    </div>
                    <div class="block-content border-bottom">
                        <h4 class="fs-5 mb-4">{$v.name}</h4>
                        <p class="text-muted">
                            <i class="fa fa-map-pin me-1"></i> {$v.description}
                        </p>
                    </div>
                    <div class="block-content border-bottom">
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    <i class="si si-user opacity-50 me-1"></i>
                                    <strong> {$v.author} </strong>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <i class="si si-badge opacity-50 me-1"></i>
                                    <strong> {$v.demoSite} </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="row g-sm">
                            <div class="col-12">
                                <button type="button" name="index_template" data-template-id="{$v.id}"
                                        onclick="ajax_set_template(this)"
                                        class="btn btn-sm w-100 {if condition='$current_index_template eq $v.id'}btn-alt-success{else /}btn-primary{/if}"
                                        aria-pressed="{if condition='$current_index_template eq $v.id'}true{else /}false{/if}"
                                        {if condition="$current_index_template eq $v.id"}disabled{/if}>
                                    {if condition="$current_index_template eq $v.id"}
                                    <i class="fa fa-check me-1"></i>当前使用
                                    {else /}
                                    启用 {$v.name}
                                    {/if}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}

            <h2 class="content-heading">登录注册模板</h2>
            {foreach $login_data as $key => $v}
            <div class="col-md-6 col-xl-4">
                <div class="block block-rounded{if condition='$current_login_template eq $v.id'} border border-primary{/if}">
                    <div class="block-content p-0 overflow-hidden">
                        <img class="img-fluid rounded-top" src="{$v.img}" alt="{$v.name}" loading="lazy">
                    </div>
                    <div class="block-content border-bottom">
                        <h4 class="fs-5 mb-2">{$v.name}</h4>
                        <p class="text-muted">
                            <i class="fa fa-map-pin me-1"></i> {$v.description}
                        </p>
                    </div>
                    <div class="block-content border-bottom">
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    <i class="si si-user opacity-50 me-1"></i>
                                    <strong> {$v.author} </strong>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <i class="si si-badge opacity-50 me-1"></i>
                                    <strong> {$v.demoSite} </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="row g-sm">
                            <div class="col-12">
                                <button type="button" name="login_template" data-template-id="{$v.id}"
                                        onclick="ajax_set_template(this)"
                                        class="btn btn-sm w-100 {if condition='$current_login_template eq $v.id'}btn-alt-success{else /}btn-primary{/if}"
                                        aria-pressed="{if condition='$current_login_template eq $v.id'}true{else /}false{/if}"
                                        {if condition="$current_login_template eq $v.id"}disabled{/if}>
                                    {if condition="$current_login_template eq $v.id"}
                                    <i class="fa fa-check me-1"></i>当前使用
                                    {else /}
                                    启用 {$v.name}
                                    {/if}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </form>
</div>
{/block}
{block name="foot"}
<script>
    function ajax_set_template(_this) {
        var name = $(_this).prop('name');
        var value = $(_this).data('template-id');
        var payload = {};
        payload[name] = value;
        $(_this).prop('disabled', true);
        x.ajax('/admin/ajax/set/info', payload, function (data) {
            if (data.code == 1) {
                x.notify(data.message, 'success');
                setTimeout(function () {
                    location.reload();
                }, 500);
            } else {
                $(_this).prop('disabled', false);
                x.notify(data.message, 'warning');
            }
        });
    }
</script>
{/block}
