{extend name="common/layout"/}
{block name="head"}{include file="console/head" /}{/block}
{block name="main"}

    <div class="block block-rounded">
        <div class="block block-themed block-rounded">
            <div class="block-header bg-gd-dusk">
                <h3 class="block-title">视频 | 图集解析</h3>
            </div>
      <div class="block-content">
        <div class="mb-4">
          <div class="input-group mb-3">
            <input type="text"
                   class="form-control form-control-alt fs-sm"
                   id="url"
                   placeholder="请在此粘贴分享链接">
            <button class="btn btn-primary btn-sm fa fa-search me-1"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"> 开始解析
            </button>



            

<ul  class="dropdown-menu"  style="width: 200px;  height: 100px;"  aria-labelledby="dropdownMenuButton">
   <!--  下拉菜单内容  -->
   
               <li><a  class="dropdown-item text-center"
                      href="javascript:void(0);"
                     onclick="ajax_analyse_video();">视频</a>
               </li>
                      <li  class="dropdown-divider"></li>
               <li>
                <a  class="dropdown-item text-center"
                      href="javascript:void(0);"
                      onclick="ajax_analyse_image();">图集</a>
               </li>
               <li>

               </li>
             </ul>
           </div>

          <div class="form-text text-muted text-end fs-xs">粘贴视频地址时无需删除文案 但如果视频链接正确但解析失败请删掉文案后重试</div>
        </div>
        </div>
        </div>
          </div>
  <div class="block block-rounded"
       id="video-success"
       style="display: none;">
    <div class="block block-rounded d-flex flex-column h-100 mb-0">
      <a class="block-content block-content-full bg-image flex-grow-0"
         id="video-cover"
         target="_blank">
        <span class="badge bg-black-25 fw-bold p-2 text-uppercase">
          点击预览
        </span>
      </a>
      <div class="block-content flex-grow-1 h-25">
        <h5 class="mb-1"
            id="video-desc">
          视频标题
        </p>
      </div>

      <div class="block-content block-content-full block-content-sm text-center">
        <a class="btn btn-alt-secondary fs-sm"
           href=""
           target="_blank"
           id="download-music">下载音乐</a>
        <a class="btn btn-alt-primary fs-sm"
           href=""
           target="_blank"
           id="download-video">下载视频</a>
      </div>
    </div>
  </div>
  <div class="block block-rounded"
       id="image-success"
       style="display: none;">
    <div class="block block-rounded">
    
      <div class="block-header block-header-default">
        <h3 class="block-title">图集预览<small class="fs-xs">点击图片可跳转，请自行保存</small>
        </h3>
      </div>
      <div class="block-content block-content-full">
        <div id="carouselExampleCaptions"
             class="carousel slide">
          <div class="carousel-inner"
               id="image-preview">

          </div>
          <button class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon"
                  aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon"
                  aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}
{block name="foot"}
<script>
let image_list = [];

function ajax_analyse_video() {
	let url = $('#url')
		.val();
	if (!url) {
		x.notify('请先输入视频链接！', 'warning');
		return;
	}

	let extractedUrl = extractUrl(url);

	x.ajax('/index/tool/analyse', {url: extractedUrl}, function(data) {
		if (data.code == 1) {
			const result = data.data;
			x.notify(data.message, 'success');
			if (result.images && result.images.length) {
				$('#video-cover')
					.attr('style', 'height:180px; background-image:url(' + result.cover + ')')
					.attr('href', result.cover);
				$('#video-success')
					.hide();
			} else {
				$('#video-cover')
					.attr('style', 'height:180px; background-image:url(' + result.cover + ')')
					.attr('href', result.cover);
				$('#download-video')
					.attr("href", result.video)
				$('#video-success')
					.show()
				$('#image-success')
					.hide();
				$('#video-desc')
					.text(result.title || result.description || '视频');
				$('#image-preview')
					.children()
					.remove();
			}
			$('#download-music')
				.attr("href", result.music || result.video)
		} else {
			x.notify(data.message, 'warning');
		}
	})
}

function formatTime(timestamp) {
	var date = new Date(timestamp * 1000);
	var Y = date.getFullYear() + '-';
	var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
	var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
	return Y + M + D;
}

function ajax_analyse_image() {
	let url = $('#url')
		.val();
	if (!url) {
		x.notify('请先输入图集链接！', 'warning');
		return;
	}

	let extractedUrl = extractUrl(url);

	$.ajax({
		url: '/index/tool/analyse',
		type: 'POST',
		dataType: 'json',
		data: {url: extractedUrl},
		success: function(data) {
			if (data.code === 1) {
				const result = data.data;
				x.notify(data.message, 'success');

				if (result.images && result.images.length) {
					$('#video-success')
						.hide();
					$('#image-success')
						.show();
					$('#image-preview')
						.empty();
					image_list = result.images;
					let className = '';
					for (var i = 0; i < image_list.length; i++) {
						className = i === 0 ? 'active' : '';
						$('#image-preview')
							.append("<div class=\"carousel-item " + className + "\"> <img onclick=\"javascript:window.open('" + image_list[i] + "')\" src=\"" + image_list[i] + "\" class=\"d-block w-100\" alt=\"image\"> <div class=\"carousel-caption d-none d-md-block bg-black-50 rounded-3 px-3\"> <p class=\"mb-0 image-desc\"></p> </div></div>");
					}
					$('.image-desc').text(result.description || result.title || '');

					$('#video-success')
						.hide();
					$('#image-success')
						.show();

				}

			} else {
				x.notify(data.message, 'warning');
			}
		},
		error: function(jqXHR, textStatus, errorThrown) {
			x.notify('解析出错: ' + textStatus, 'warning');
		}
	});
}

function extractUrl(value) {
	let pattern = /(http[s]?:\/\/[^\s]+)/;
	let matches = value.match(pattern);
	if (matches) {
		return matches[0];
	}
	return ''; // 无法识别URL
}
</script>
{/block}
