<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>提示信息</title>
    <meta content="{:config('web.keywords')}" name="keywords">
    <meta content="{:config('web.description')}" name="description">
    <link href="/favicon.ico?v={:app_version()}" rel="shortcut icon">
    <link href="/static/ruoyi/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/animate.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/style.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/skins.css" rel="stylesheet">
    <link href="/static/ruoyi/css/ruoyi-loopdeck.css?v={:app_version()}" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center" style="padding-top: 120px;">
    <div>
        <i class="fa fa-info-circle text-primary" style="font-size: 72px;"></i>
        <h1 class="font-bold">{$msg}</h1>
        <p class="text-muted">请返回控制台。</p>
        <a class="btn btn-primary" href="{$url}">
            <i class="fa fa-arrow-left"></i> 返回控制台
        </a>
    </div>
</div>
</body>
</html>
