<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>{:config('web.webname')} - {:config('web.title')}</title>
    <meta content="{:config('web.keywords')}" name="keywords">
    <meta content="{:config('web.description')}" name="description">
    <link href="/favicon.ico?v={:app_version()}" rel="shortcut icon">
    <link href="/static/ruoyi/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/animate.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/style.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/login.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/ruoyi-loopdeck.css?v={:app_version()}" rel="stylesheet">
</head>
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>{:config('web.webname')}</h1>
                </div>
                <h3>
                    很高兴你选择加入我们！
                </h3>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 现在就创建你的账号</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 注册即可获得注册赠送权益</li>
                </ul>
                <strong>已有账号？ <a href="{:url('/index/login/login')}">直接登录&raquo;</a></strong>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" onsubmit="return false;">
                <h4 class="no-margins">创建新账户</h4>
                <p class="m-t-md">请填写您的详细资料</p>
                <input type="text" class="form-control uname" id="username" name="username" placeholder="用户名">
                <input type="password" class="form-control pword" id="password" name="password" placeholder="密码">
                <input type="number" class="form-control code" id="qq" name="qq" placeholder="QQ">
                <input type="text" class="form-control code" id="captcha" name="captcha" placeholder="请输入验证码">
                <div><img alt="captcha" class="img-responsive" height="58" id="captcha_img" onclick='this.src="{:captcha_src()}?"+Math.random();' src="{:captcha_src()}" width="100%"></div>
                <div class="checkbox-custom checkbox-primary">
                    <input checked id="signup-terms" name="signup-terms" type="checkbox">
                    <label for="signup-terms">我同意条款</label>
                </div>
                <button class="btn btn-primary btn-block" onclick="ajax_user_reg();" type="submit">创建账户</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            <a href="{:url('/index/login/find')}">找回密码</a>
        </div>
        <div class="pull-right">
            Copyright &copy; {:date('Y')} {:config('web.webname')} &nbsp; <a href="https://beian.miit.gov.cn/" target="_blank">{:config('web.icp')}</a>
        </div>
    </div>
</div>
<script src="/static/ruoyi/js/jquery.min.js"></script>
<script src="/static/js/layer.js"></script>
<script src="/static/js/app.min.js?v={:app_version()}"></script>
<script>
    function ajax_user_reg() {
        x.ajax('/index/LoginAjax/reg', {
            username: x.getval('#username'),
            password: x.getval('#password'),
            qq: x.getval('#qq'),
            captcha: x.getval('#captcha'),
        }, function (data) {
            if (data.code == 1) {
                x.notify(data.message, 'success');
                setTimeout(function () {
                    window.location.href = "{:url('console/index')}";
                }, 1000)
            } else {
                $('#captcha').val(null);
                $('#captcha_img').click();
                x.notify(data.message, 'warning');
            }
        });
    }
</script>
</body>
</html>
