{if condition="count($list) eq 0"}
<div class="col-12">
    <div class="block block-rounded">
        <div class="block-content block-content-full text-center py-5">
            <i class="{$platform.icon} fa-3x text-{$platform.accent} opacity-50"></i>
            <p class="text-muted fs-sm mt-3 mb-3">还没有添加{$platform.name}账号</p>
            <a class="btn btn-alt-primary" href="/index/console/{$platform.type}/add" data-pjax><i class="fa fa-plus me-1"></i>添加账号</a>
        </div>
    </div>
</div>
{/if}
{foreach $list as $value}
<div class="col-md-6 col-xl-3">
    <div class="block block-rounded text-center">
        <div class="block-content block-content-full bg-gd-{$platform.theme} checkin-hero">
            <i class="{$platform.icon} checkin-hero-mark" aria-hidden="true"></i>
            {if condition="$value.avatar neq ''"}
            <img class="img-avatar img-avatar-thumb" src="{$value.avatar}" alt="" referrerpolicy="no-referrer">
            {else /}
            <span class="checkin-avatar-icon bg-white-25"><i class="{$platform.icon}"></i></span>
            {/if}
        </div>
        <div class="block-content">
            <div class="fw-semibold mb-1 text-truncate">{$value.nickname}</div>
            {if condition="$value.state neq 1"}
            <div class="fs-sm text-danger mb-1">登录已失效</div>
            {elseif condition="$value.timing neq ''" /}
            <div class="fs-sm text-success mb-1">每日 {$value.timing} 签到</div>
            {else /}
            <div class="fs-sm text-warning mb-1">未设置挂机时间</div>
            {/if}
            <div class="fs-sm text-muted"><i class="far fa-clock opacity-75"></i> {:date("m-d H:i", strtotime($value['addtime']) ?: time())} 添加</div>
        </div>
        <div class="block-content block-content-full">
            <div class="row g-sm">
                <div class="col-8">
                    <a class="btn btn-sm btn-alt-primary w-100" href="/index/console/{$platform.type}/info/{$value.user_id}" data-pjax>管理账号</a>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-sm btn-alt-danger w-100 js-checkin-delete" title="删除账号" data-type="{$platform.type}" data-user-id="{$value.user_id}">
                        <i class="si si-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{/foreach}
{if condition="$pages gt 1"}
<div class="col-12">
    <nav aria-label="账号分页">
        <ul class="pagination justify-content-center">
            <li class="page-item {if condition='$page elt 1'}disabled{/if}">
                <a class="page-link" href="/index/console/{$platform.type}/list?page={$prev_page}" data-pjax aria-label="上一页"><i class="fa fa-angle-left"></i></a>
            </li>
            {foreach $page_numbers as $p}
            <li class="page-item {if condition='$p eq $page'}active{/if}">
                <a class="page-link" href="/index/console/{$platform.type}/list?page={$p}" data-pjax>{$p}</a>
            </li>
            {/foreach}
            <li class="page-item {if condition='$page egt $pages'}disabled{/if}">
                <a class="page-link" href="/index/console/{$platform.type}/list?page={$next_page}" data-pjax aria-label="下一页"><i class="fa fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>
</div>
{/if}
