<script src="/static/js/account_profile.js?v={:app_version()}"></script>
<script src="/static/js/checkin_console.js?v={:app_version()}"></script>
<script src="/static/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/static/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="/static/js/task_logs_datatables.js?v={:app_version()}"></script>
