{extend name="common/layout"/}
{block name="head"} {include file="console/head" /}{/block}
{block name="main"}
<div class="wrapper wrapper-content ld-dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content ld-dashboard-heading">
                    <h1 class="font-bold">{:config('web.webname')}</h1>
                    <p class="text-muted">{:config('web.title')}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <a class="menuItem" data-pjax href="{:url('/index/console/shop/card')}">
                <div class="ld-shortcut">
                    <div class="row vertical-align">
                        <div class="col-xs-4 text-center">
                            <i class="fa fa-ticket"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 兑换码兑换 </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            {php}
            $loca = 'http://wpa.qq.com/msgrd?v=3&uin=' . config('web.user_qq') . '&site=qq&menu=yes';
            $http_agent = strtolower((string)($_SERVER['HTTP_USER_AGENT'] ?? ''));
            if(strpos($http_agent,'windows nt')){
            $loca = 'tencent://ContactInfo/?subcmd=ViewInfo&puin=0&uin=' . config('web.user_qq');
            }elseif(strpos($http_agent,'iphone')){
            $loca = 'mqq://im/chat?chat_type=wpa&uin=' . config('web.user_qq') . '&version=1&src_type=web';
            } elseif(strpos($http_agent,'android')){
            $loca = 'mqq://card/show_pslcard?src_type=internal&version=1&uin=' . config('web.user_qq') . '&card_type=person&source=sharecard';
            }
            {/php}
            <a href="{$loca}">
                <div class="ld-shortcut">
                    <div class="row vertical-align">
                        <div class="col-xs-4 text-center">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 联系客服 </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="menuItem" data-pjax href="{:url('/index/console/user/faq')}">
                <div class="ld-shortcut">
                    <div class="row vertical-align">
                        <div class="col-xs-4 text-center">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 帮助中心 </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="menuItem" data-pjax href="{:url('/index/console/user/profile')}">
                <div class="ld-shortcut">
                    <div class="row vertical-align">
                        <div class="col-xs-4 text-center">
                            <i class="fa fa-id-card"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 个人资料 </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>公告通知</h5>
                </div>
                <div class="ibox-content" data-toggle="slimscroll" data-height="259px">
                    {php}
                    $empty = '<div class="text-center text-muted" style="padding: 30px 0;">
                        <i class="fa fa-bullhorn fa-2x"></i>
                        <p>暂无公告</p>
                    </div>';
                    {/php}
                    {volist name="$notice" id="arr" empty="$empty"}
                    {php}
                    if ($arr['alert'] == 1) {
                    $alert = $arr['content'];
                    }
                    {/php}
                    <div class="feed-activity-list" id="notice">
                        <div class="feed-element">
                            <div>
                                <small class="text-muted">{:date("Y-m-d H:i", $arr.addtime)}</small>
                                <div class="m-t-xs">{:safe_html($arr.content)}</div>
                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center ld-account-summary">
                    <img alt="用户头像" class="img-circle" src="//q2.qlogo.cn/g?b=qq&nk={:session('user.qq')}&s=100">
                    <h3 class="font-bold m-xs">
                        {:session('user.nickname')}
                    </h3>
                    <div class="text-muted m-xs">UID: {:session('user.uid')}</div>
                    {if session('user.vip_start')}
                    <div class="text-muted m-xs">{:membership_label(session('user.vip_end'))}</div>
                    {else /}
                    <div class="text-muted m-xs">普通用户</div>
                    {/if}
                    <div class="text-muted m-xs">账号总数 {:account_limit_label(session('user.quota'))}，已使用 {$quota_used} 个，所有平台共用</div>
                </div>
                <div class="ibox-content">
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <i class="fa fa-user fa-2x text-navy"></i>
                            <div class="text-muted">{:session('user.power') == 6 ? '管理员' : '普通用户'}</div>
                        </div>
                        <div class="col-xs-6">
                            <i class="fa fa-ticket fa-2x text-info"></i>
                            <div class="text-muted">账号总数：{:account_limit_label(session('user.quota'))}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="ld-stat-card">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-users fa-2x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span class="font-bold">{$user_count}</span>
                        <small>用户数量</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="ld-stat-card">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-cloud fa-2x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span class="font-bold">{$account_count}</span>
                        <small>托管账号</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="ld-stat-card">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span class="font-bold">{$job_count}</span>
                        <small>添加任务</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="ld-stat-card">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-fire fa-2x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span class="font-bold">{$execute_count}</span>
                        <small>运行次数</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="foot"}
<script>
    $(function () {
        if (jQuery.fn.slimScroll) {
            $('[data-toggle="slimscroll"]').each(function () {
                $(this).slimScroll({height: $(this).data('height') || '259px'});
            });
        }
    })
    {if condition="isset($alert)"}
    if (getCookie('alert_msg') !== '0') {
        layer.alert({:js_string(safe_html($alert))}, {
            time: 10*1000
            ,success: function(layero, index){
                var timeNum = this.time/1000, setText = function(start){
                    layer.title((start ? timeNum : --timeNum) + ' 秒后关闭', index);
                };
                setText(!0);
                this.timer = setInterval(setText, 1000);
                if(timeNum <= 0) clearInterval(this.timer);
            }
            ,end: function(){
                clearInterval(this.timer);
            }
            ,btn: ['确定', '不再显示']
            ,area: ['420px', 'auto']
            ,btn2: function () {
                setCookie('alert_msg', 0)
            }

        });
    }
    {/if}
</script>
{/block}
