<!-- 左侧导航开始 -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <a href="{:url('/index/console/index')}">
        <li class="logo hidden-xs">
            <span class="logo-lg"><i class="fa fa-fire text-danger"></i> {:config('web.webname')}</span>
        </li>
    </a>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a class="dropdown-toggle" href="{:url('/index/console/user/profile')}">
                        <span class="clear">
                            <span class="m-t-xs" style="display:block;">
                                <img alt="image" class="img-circle" src="//q2.qlogo.cn/g?b=qq&nk={:html_escape(session('user.qq'))}&s=100" height="48" width="48">
                                <strong class="font-bold">{:html_escape(session('user.nickname'))}</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    {:html_escape(mb_substr((string)(session('user.nickname') ?: session('user.username') ?: '用户'), 0, 1))}
                </div>
            </li>
            {if condition="session('user.power') eq 6 && session('user.web_id') eq WEB_ID"}
            <li>
                <a href="{:url('/admin/system/index')}">
                    <i class="fa fa-dashboard"></i> <span class="nav-label">站长后台</span>
                </a>
            </li>
            {/if}
            <li>
                <a class="menuItem" data-pjax href="{:url('/index/console/index')}">
                    <i class="fa fa-home"></i> <span class="nav-label">用户中心</span>
                </a>
            </li>
            <li>
                <a class="menuItem" data-pjax href="{:url('/index/console/shop/card')}">
                    <i class="fa fa-ticket"></i> <span class="nav-label">兑换码兑换</span>
                </a>
            </li>
            <li class="nav-heading">VIP 功能</li>
            <li>
                <a href="#">
                    <i class="fa fa-music"></i> <span class="nav-label">网易云音乐</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a class="menuItem" data-pjax href="{:url('/index/console/netease/add')}">添加账号</a></li>
                    <li><a class="menuItem" data-pjax href="{:url('/index/console/netease/list')}">管理账号</a></li>
                    {if condition="config('sys.is_netease_tool') eq 1"}
                    <li><a class="menuItem" data-pjax href="{:url('/index/console/netease/tool')}">听歌任务工具</a></li>
                    {/if}
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-television"></i> <span class="nav-label">哔哩哔哩</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a class="menuItem" data-pjax href="{:url('/index/console/bilibili/add')}">添加账号</a></li>
                    <li><a class="menuItem" data-pjax href="{:url('/index/console/bilibili/list')}">管理账号</a></li>
                </ul>
            </li>
            <li>
                <a class="menuItem" data-pjax href="{:url('/index/console/epic/act/weeklygame')}">
                    <i class="fa fa-gamepad"></i> <span class="nav-label">Epic商城</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-qrcode"></i> <span class="nav-label">收款码合一</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a class="menuItem" data-pjax href="{:url('/index/console/qrcode/create')}">生成收款码</a></li>
                    <li><a class="menuItem" data-pjax href="{:url('/index/console/qrcode/list')}">管理收款码</a></li>
                </ul>
            </li>
            <li class="nav-heading">其他</li>
            <li>
                <a class="menuItem" data-pjax href="{:url('/index/console/user/profile')}">
                    <i class="fa fa-user"></i> <span class="nav-label">个人中心</span>
                </a>
            </li>
            <li>
                <a class="menuItem" data-pjax href="{:url('/index/console/user/faq')}">
                    <i class="fa fa-info-circle"></i> <span class="nav-label">帮助中心</span>
                </a>
            </li>
            <li>
                <a href="javascript:clearCache();">
                    <i class="fa fa-refresh"></i> <span class="nav-label">刷新页面</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- 左侧导航结束 -->

<!-- 右侧部分开始 -->
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2" href="javascript:;" title="收起菜单">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="image" class="user-image" src="//q2.qlogo.cn/g?b=qq&nk={:html_escape(session('user.qq'))}&s=100">
                        <span class="hidden-xs">{:html_escape(session('user.nickname'))}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="mt5">
                            <a data-pjax href="{:url('/index/console/user/profile')}">
                                <i class="fa fa-user"></i> 个人资料
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a onclick="logout();">
                                <i class="fa fa-sign-out"></i> 注销登录
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row content-tabs">
        <button class="roll-nav roll-left tab-left">
            <i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs menuTabs">
            <div class="page-tabs-content" id="page-tabs-content">
                <a href="javascript:;" class="menuTab active" data-id="{:url('/index/console/index')}">首页</a>
            </div>
        </nav>
        <button class="roll-nav roll-right tab-right">
            <i class="fa fa-forward"></i>
        </button>
        <div class="btn-group roll-nav roll-right">
            <button class="btn btn-white dropdown-toggle" data-toggle="dropdown">关闭操作 <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li class="tab-close-current"><a href="javascript:;">关闭当前选项卡</a></li>
                <li class="tab-close-other"><a href="javascript:;">关闭其他选项卡</a></li>
                <li class="divider"></li>
                <li class="tab-close-all"><a href="javascript:;">关闭全部选项卡</a></li>
            </ul>
        </div>
        <a class="roll-nav roll-right tab-reload" href="javascript:;"><i class="fa fa-refresh"></i> 刷新</a>
    </div>
    <div class="row mainContent" id="content-main">
