<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>{:config('web.webname')} - {:config('web.title')}</title>
    <meta content="{:config('web.keywords')}" name="keywords">
    <meta content="{:config('web.description')}" name="description">
    <link href="/favicon.ico?v={:app_version()}" rel="shortcut icon">
    <link href="/static/ruoyi/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/animate.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/style.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/login.min.css" rel="stylesheet">
    <link href="/static/ruoyi/css/ruoyi-loopdeck.css" rel="stylesheet">
</head>
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1><i class="fa fa-fire text-danger"></i> {:config('web.webname')}</h1>
                </div>
                <h3>
                    重置密码
                </h3>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 请输入您的新密码</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 完成后请使用新密码重新登录</li>
                </ul>
                <strong><a href="{:url('/index/login/login')}"><i class="fa fa-arrow-left"></i> 返回登录&raquo;</a></strong>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" onsubmit="return false;">
                <h4 class="no-margins">重置密码</h4>
                <p class="m-t-md">请设置新密码</p>
                <input type="password" autocomplete="new-password" class="form-control pword" id="password" name="password" placeholder="输入你的新密码">
                <input type="password" autocomplete="new-password" class="form-control pword" id="repass" name="repass" placeholder="请确认你的密码">
                <button class="btn btn-success btn-block" onclick="ajax_user_reset();" type="submit">确认重置密码</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-right">
            Copyright &copy; {:date('Y')} {:config('web.webname')} &nbsp; <a href="https://beian.miit.gov.cn/" target="_blank">{:config('web.icp')}</a>
        </div>
    </div>
</div>
<script src="/static/ruoyi/js/jquery.min.js"></script>
<script src="/static/js/layer.js"></script>
<script src="/static/js/app.min.js?v={:app_version()}"></script>
<script>
    function ajax_user_reset() {
        var password = x.getval('#password', '请输入新密码');
        if (!password) return;
        var repass = x.getval('#repass', '请确认新密码');
        if (!repass) return;
        x.ajax('/index/LoginAjax/reset', {
            password: password,
            repass: repass,
            mail:"{$mail}",
            token:"{$_GET['token']}",
        }, function (data) {
            if (data.code == 1) {
                x.notify(data.message, 'success');
                setTimeout(function () {
                    window.location.href = "/index/login/login.html";
                }, 1000);
            } else {
                x.notify(data.message, 'warning');
            }
        });
    }
</script>
</body>
</html>
